label {
    float: left;
    width: 150px;
}

#container {
    width: 700px;
    margin: auto;
    background-color: beige;
}

main {
    padding: 50px;
}

.error-message {
    color: red;
    font-size: 12px;
}

.hidden {
    display: none;
}

.ml-text {
    font-size: 12px;
    color: blue;
}

.first{
    color: #d13432;
}

#dataTable {
    border-collapse: collapse;
}
#dataTable tr {
    border: 3px solid #afa9a9;
}
#dataTable td {
    border: 2px solid #ece9e9;
    padding: 1px 8px;
}